name: ruff

on:
  pull_request_review:
    types: [ submitted ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    environment: lint
    if: github.event.review.state == 'approved'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Run ruff check
        uses: astral-sh/ruff-action@v3
        with:
          src: "./src"
          args: "check"
