name: ruff

on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run ruff check
        uses: astral-sh/ruff-action@v3
        with:
          src: "./src"
          args: "check"

      - name: Run ruff format
        uses: astral-sh/ruff-action@v3
        with:
          src: "./src"
          args: "format --check"
