name: ruff

on:
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    environment: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run ruff check
        uses: astral-sh/ruff-action@v3
        with:
          src: "./backend"
          args: "check --config backend/pyproject.toml"

      - name: Run pyright
        uses: jakebailey/pyright-action@v1
        with:
          project: "backend/pyrightconfig.json"
